<!DOCTYPE html>
<html>
<head>
	<title>Retirement Savings Calculator</title>
</head>
<body>
	<h1>Retirement Savings Calculator</h1>
	<%
		float income = 10000;
		float expenditure = 5000;
		float tax = 20;
		float div = 4;
		float principle = expenditure * 120000 / ((100 * div) - (tax * div));
		float x = 10;
		float y = 4;
		float roi = (100 + x) / (100 + y);
		float number = roi;
		int retireage = 60;
		int presentage = 20;
		int n = retireage - presentage;
		for (int i = 1; i < n; i++) {
		  roi = roi * number;
		}
    float geometricprogression = (roi - 1) / (number - 1);
		float savings = principle / geometricprogression;
		float monthlysavings = savings / 12;
	%>
	<p>You need to save $<%= monthlysavings %> to retire at age <%= retireage %>, currently <%= percentagesavings %>% of your income.</p>
	<script>
		var percentagesavings = (<%= monthlysavings %> / <%= income %>) * 100;
		document.write("You need to save $" + <%= monthlysavings %> + " to retire at age " + <%= retireage %> + ", currently " + percentagesavings + "% of your income.");
	</script>
</body>
</html>
