body{
	color: black;
	font-family: Rockwell;
	font-size: 20px;
}
.customButton{
	background-color: #0066ff;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
	cursor: pointer;
}